.service-page {
  width: 100vw;
  margin-top: 7%;
}
.service-page-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.service-page-wrap > h3 > a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.service-page-wrap > h3 > span {
  color: rgb(111, 110, 110);
  font-weight: 400;
}
.service-one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url(/assets/mashall.jpg);
  background-size: cover;
}
.service-one-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}
.service-one-wrap > h3 {
  letter-spacing: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2%;
}
.service-one-wrap > h2 {
  letter-spacing: 15px;
  font-size: 2rem;
  font-weight: 400;
  /* margin-bottom: 4%; */
}
.service-one-wrap > h2 > span {
  letter-spacing: 15px;
  font-size: 2rem;
  font-weight: 900;
}
.service-one-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30%;
}
.service-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 60%;
  position: relative;
}
.service-logo-wrap > i {
  font-size: 2rem;
  transition: all 0.1s 0.1s;
}
.service-logo-wrap > i:hover {
  background-color: rgb(150, 149, 149);
  padding: 50%;
  border-radius: 50%;
}
.service-logo-wrap > p {
  position: absolute;
  bottom: 0;
}
.service-two-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  margin-top: 5%;
}
.service-two-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.service-card > img {
  height: 100%;
  width: 100%;
}
.service-card {
  position: relative;
  width: 29%;
  height: 100%;
  margin-bottom: 3%;
  cursor: pointer;
}
.service-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5;
  height: 100%;
  overflow: hidden;
  padding: 4%;
}
.service-card-text > .line {
  height: 3px;
  width: 0rem;
  background-color: white;
  transition: all 0.3s;
}
.service-card:hover .service-card-text > .line {
  width: 20rem;
}
.service-card:hover .service-card-text > p {
  margin-left: 0%;
  opacity: 1;
}
.service-card-text > h3 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 2%;
}
.service-card-text > p {
  font-size: 2rem;
  margin-left: 110%;
  opacity: 0;
  width: 60%;
  transition: all 0.3s;
}
.service-three {
  width: 100vw;
  /* height: 80vh; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: url(/assets/rudy.jpg) repeat fixed 100%;
}
.service-three-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 3% 0%;
}
.service-three-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  color: white;
}
.service-three-content > i {
  margin-right: 6%;
  font-size: 2rem;
  padding: 7%;
  background-color: rgb(190, 188, 188);
  color: black;
  border-radius: 50%;
}
.service-three-content > i:hover{
  background-color: black;
  color: white;
  animation-name: jig;
  animation-duration: .3s;
}
.service-three-text {
  width: 100%;
}
.service-three-text > h4 {
  margin-bottom: 4%;
  font-size: 0.9rem;
}
.service-three-text > p {
  line-height: 25px;
  width: 100%;
  font-size: 0.8rem;
}
.service-four{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 4%;
}
.service-four-head > h1{
  text-align: center;
  letter-spacing: 8px;
  font-weight: 300;
  margin: 7% 0%;
  font-size: 2.5rem;
}
.service-four-price{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 22%;
  margin: 0% 2%;
}
.service-four-price:hover{
  box-shadow: -1px 3px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 3px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 8px 0px rgba(0,0,0,0.75);
}
.service-four-price > h2{
  letter-spacing: 2px;
  margin: 3% 0;
}
.service-four-price > p{
  letter-spacing: 1px;
  margin-bottom: 5%;
  width: 100%;
}
.service-four-price > button{
  border: none;
  padding: 3%;
  background-color: rgb(190, 188, 188);
  min-width: 38%;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 4%;
}
.service-four-price > button:hover{
  background-color: black;
  color: white;
}
.service-four-price > .service-four-dol{
  background-color: rgb(145, 145, 145);
  width: 100%;
  text-align: center;
  padding: 10%;
  margin-bottom: 3%;
}
.service-four-price > .service-four-dol >h1{
  font-size: 4rem;
  font-weight: 600;
}
#four-dol{
  background-color: black;
  color: white;
}
#four-but{
  background-color: black;
  color: white;
}
#four-but:hover{
  background-color: rgb(145, 145, 145);
  color: black;
}
.service-four-price > .service-four-dol > p{
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 720px) {
  .service-one-wrap > h3 {
    font-size: 0.6rem;
  }
  .service-one-wrap > h2 {
    font-size: 1.2rem;
  }
  .service-one-wrap > h2 > span {
    font-size: 1.2rem;
  }
  .service-logo-wrap > i {
    font-size: 1rem;
  }
  .service-logo-wrap > p {
    font-size: 0.6rem;
  }
  .service-two-cards {
    flex-direction: column;
  }
  .service-card {
    height: 70%;
    width: 70%;
  }
  .service-card:hover .service-card-text > .line {
    width: 40%;
  }
  .service-card-text > p{
    font-size: 1rem;
  }
  .service-wrap > h2 {
    font-size: 1.5rem;
    margin-bottom: 4%;
  }
  .service-wrap > p {
    font-size: 0.8rem;
  }
  .service-three-text > h4 {
    font-size: 1rem;
  }
  .service-three-text > p {
    font-size: .6rem;
  }
  .service-three-content > i {
    margin-right: 6%;
    font-size: 1rem;
    padding: 6%;
    background-color: rgb(190, 188, 188);
    color: black;
    border-radius: 50%;
  }
}
@media (max-width: 960px) {
  .service-one-wrap > h3 {
    font-size: 0.8rem;
  }
  .service-one-wrap > h2 {
    font-size: 1.6rem;
  }
  .service-one-wrap > h2 > span {
    font-size: 1.6rem;
  }
  .service-three-wrap {
    flex-direction: column;
    width: 100%;
    margin: 0% 0%;
  }
  .service-three-content {
    width: 60%;
  }
  .service-three-content > .helping {
    font-size: 2.2rem;
  }
  .service-three-content > i {
    font-size: 1.6rem;
    margin-right: 8%;
    margin-top: 3%;
  }
  .service-three-content {
    flex-direction: column;
    text-align: center;
  }
  .service-three-content > i {
    margin-right: 0%;
  }
  .service-three-text > h4 {
    font-size: 1.2rem;
  }
  .service-three-text > p {
    font-size: .8rem;
  }
}

@media (max-width: 860px) {
  .service-four{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
  }
  .service-four-price{
    width: 60%;
    margin-left: 20%;
  }
  .service-four-head > h1{
    font-size: 1.5rem;
  }
}
@media (max-width: 605px) {
  .service-four{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .service-four-price{
    width: 70%;
    margin-left: 15%;
  }
}

@media (max-width: 1050px) {
  .service-four-price > h2{
    font-size: 1.2rem;
  }
  .service-four-price > p{
    font-size: 0.8rem;
  }
  .service-four-price > button{
    font-weight: 4  00;
  }
  .service-four-price > .service-four-dol >h1{
    font-size: 3.8rem;
    font-weight: 600;
  }
  .service-four-price > .service-four-dol >p{
    font-size: .8rem;
  }
}
/* @keyframes jig {
  0%   {padding: 7%;}
  50%  {padding: 6%;}
  100%   {padding: 7%;}
} */