<!-- <footer>
    <h2>WEBION</h2>
    <div class="footer-wrap">
        <div class="footer-logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-instagram"></i>
            <i class="fas fa-basketball-ball"></i>
        </div>
        <p>Zemez ©. All rights reserved.</p>
    </div>
</footer> -->
<script src="../assets/js/fontawesome.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../assets/js/index.js"></script>